<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    


    <form>
        <label for="title">Title : </label>
        <input type="text" name="title" id="title">
        
        <label for="autor">Autor : </label>
        <input type="text" name="autor" id="autor">
        
        <label for="content">Content : </label>
        <input type="text" name="content" id="content">
        
        <label for="data">Data : </label>
        <input type="text" name="data" id="data" placeholder="dd/mm/yy ex; 10/09/19">
        
        <button>Add Text</button>

        <a href="{{path('show_all')}}">See All Add Blog</a>
    </form>

</body>
</html>