<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show One Person</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <a href="{{path('add_blog')}}">Back to List</a>
        <h1>{{blog.author}}</h1>


        <p class="card-text">
            This person is {{blog.content}} years old and they are {{blog.postDate|date("m-d-Y","Europe/Paris")}} 
        </p>


        <p>
            
        </p>
    </div>

</body>

</html>