<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
       
        <h1>Blog Add Stuff</h1>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-3 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{blog.title}} </h5>
                        <p class="card-text">
                            This person is {{blog.author}} 
                            This person is {{blog.content}} 
                            This person is {{blog.postDate|date("m-d-Y","Europe/Paris")}} 
                            
                            <a href="{{path('one_person', {id:blog.id})}}" class="card-link">Show person</a>
                        
                        </p>                 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{path('add_blog')}}">Add Text</a>

</body>

</html>